.ModalBackground {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.ModalContainer {
  display: flex;
  box-shadow: 0px 5px 16px 1px rgba(229, 229, 229, 0.8);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 10px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  text-align: center;

  /* Text/Primary */

  color: #111827;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#closeBtn {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  float: right;
}
