.ModalBackground {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 30%;
  width: 640px;
  height: 511px;
  top: 300px;
  box-shadow: 0px 5px 16px 1px rgba(229, 229, 229, 0.8);
  border-radius: 10px;
  background: #ffffff;
}

.ModalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  text-align: center;

  /* Text/Primary */

  color: #111827;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.McloseBtn {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  float: right;
}
#titleP {
  position: relative;
}

@media only screen and (max-width: 600px) {
  /*for phones*/
  .ModalBackground {
    left: 10%;
    width: 80%;
    top: 16%;
  }

  .title {
    font-size: large;
    display: flex;
    flex-direction: row-reverse;
  }
  .McloseBtn {
    align-self: flex-start;
  }
  #titleP {
    position: relative;
    left: 3%;
  }
}
