input {
  border-radius: 4px;
  border-color: rgb(204, 204, 204);
  height: 40px;
  margin-bottom: 5%;
  margin-top: 2%;
}

.body {
  color: gray;
  justify-content: flex-start;
}
.footer {
  width: 100%;
  height: 70%;
}
.labels {
  padding-right: 90%;
  padding-left: 7%;
  font-weight: 500;
}

#closeBtn {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  float: right;
}

#signinBtn {
  background-color: rgb(79, 75, 195);
  color: white;
  width: 430px;
  height: 40px;
  border-color: transparent;
  cursor: pointer;
}
#showBtn {
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  right: 50px;
}
#pwd {
  width: 455px;
  position: relative;
  left: 25px;
}
#email {
  width: 455px;
  position: relative;
  right: 5px;
}
#signUpText {
  float: left;
  margin-left: 5%;
}
#signup {
  text-decoration: underline;
  font-weight: bold;
  font-size: large;
  color: rgb(82, 82, 235);
  background-color: transparent;
  border-color: transparent;
}
