.signUpbody {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 600px;
  margin-top: 30px;
  gap: 20px;
}

#createAccountBtn {
  color: white;
  font-size: x-large;
  width: 504px;
  height: 56px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background: #5048e5;
  position: relative;
  left: 50px;
}

#pwd {
  position: relative;
  right: 20px;
}

#signInText {
  width: 172px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  color: #6b7280;
  position: relative;
  left: 50px;
}
#signin {
  position: relative;
  left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
