.CartFooter {
  display: flex;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
.CartInfo {
  display: flex;
  justify-content: space-between;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}
.CartTextInfo {
  align-self: flex-start;
  margin-left: 20px;
}
.CartNumInfo {
  align-self: flex-end;
  margin-right: 20px;
}
.CartCheckOut {
  align-self: center;
  width: 458px;
  height: 48px;
  background: #5048e5;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 137.5%;
  color: #ffffff;
  border-color: transparent;
}

@media only screen and (max-width: 600px) {
  .CartCheckOut {
    width: 100%;
  }
}
