.content {
  width: 100%;
  display: flex;
}
.scroll {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.couponSection {
  display: flex;
  height: 144px;
  align-items: flex-end;
  margin-bottom: 40px;
}
#couponLabel {
  width: 143px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #6b7280;
  margin-left: 20px;
}
#couponInput {
  margin-top: 0px;
  margin-left: 20px;
  box-sizing: border-box;
  width: 351px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#applyBtn {
  width: 92px;
  height: 48px;

  background: #5048e5;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 137.5%;
  /* or 19px */

  color: #ffffff;
  margin-left: 50px;
  border-color: transparent;
}
@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  .scroll {
    width: 100%;
  }
  .couponSection {
    height: 144px;
    align-items: flex-end;
    margin-bottom: 40px;
  }
  #couponInput {
    width: 230px;
    margin-left: 20px;
  }
  #applyBtn {
    margin-left: 30px;
  }
}
