#CreatePage {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#createProductForm {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.createProductLabels {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}

#nameLabel {
  position: relative;
}
#nameInput {
  box-sizing: border-box;
  width: 70%;
  position: relative;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#descriptionLable {
  position: relative;
}
#descriptionInput {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#categoryLabel {
  position: relative;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
#categoryInput {
  box-sizing: border-box;
  position: relative;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#priceLabel {
  position: relative;
}
#priceInput {
  position: relative;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#quatityLabel {
  position: relative;
}
#quatityInput {
  box-sizing: border-box;

  position: relative;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#linkLable {
  position: relative;
}
#linkInput {
  box-sizing: border-box;

  position: relative;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
#backBtninCreate {
  position: relative;
  background: #5048e5;
}
#addProdBtninCreate {
  background: #5048e5;
}

@media only screen and (max-width: 600px) {
}
