.flex-header {
  display: flex;
  background-color: black;
  justify-content: space-between;
}
.header-content {
  color: white;
}

#chuwa-header {
  font-size: small;
}
#signin-btn,
#signout-btn {
  background-color: black;
  color: white;
  align-items: flex-end;
  cursor: pointer;
}
