.ProductPage {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  flex-direction: column;
}
.ProductList {
  display: flex;
  gap: 19px 25px;
  width: 1200px;
  height: 900px;
  flex-wrap: wrap;
}
.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 4px;
  justify-content: flex-start;
  margin-bottom: 10%;
}
#addProductBtn {
  position: absolute;
  right: 10%;
  top: 144px;

  background: #5048e5;
  border-radius: 4px;
  border-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 75%;
  line-height: 137.5%;
  color: white;
}

.ISMessage {
  flex-basis: 100%;
  text-align: center;
}

.productInfo {
  display: flex;
  flex-direction: column;
}
/* #scrollableDiv {
  height: 60%;
  overflow: auto;
} */
@media only screen and (max-width: 600px) {
  #addProductBtn {
    width: fit-content;
    top: 133px;
  }
  .infinite-scroll-component {
    justify-content: center;
  }
  .itemimg {
    align-self: center;
  }
}
