.productDetailContainer {
  display: flex;
  margin-top: 50px;
  width: 1200px;
  height: 682px;

  background: #ffffff;
  border-radius: 4px;
  flex-direction: row;
}
.Dleft {
  width: 600px;
  height: 600px;
}
.itemimgInDetail {
  width: 600px;
  height: 600px;

  background: #c4c4c4;
}
.Dright {
  margin-left: 50px;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.categoryInDetail {
  width: 84px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #6b7280;
  margin-top: 60px;
  align-content: flex-start;
  display: flex;
}
.itemNameInDetail {
  width: 600px;
  height: 44px;
  /* Typography/H4 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  color: #535353;
  align-content: flex-start;
  display: flex;
}
.priceInDetail {
  width: 84px;
  height: 44px;

  /* Typography/H4 */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  /* identical to box height, or 44px */

  color: #111827;
  align-content: flex-start;
  display: flex;
}
.oosBox {
  width: 76px;
  height: 30px;

  background: rgba(234, 61, 47, 0.13);
  border-radius: 4px;
  align-content: flex-start;
  display: flex;
}
.oosLabel {
  width: 60px;
  height: 14px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 137.5%;
  /* identical to box height, or 14px */

  color: #ea3d2f;
}
.descriptionInDetail {
  width: 500px;
  height: 288px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #6b7280;
  align-content: flex-start;
  display: flex;
}
.addToCart {
  width: 133px;
  height: 60px;

  background: #5048e5;
  border-radius: 4px;
  color: white;
}
.editInDetail,
.BackInDetail {
  box-sizing: border-box;

  width: 133px;
  height: 60px;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.plusMinus {
  display: flex;
  align-content: flex-start;
}

#minus,
#plus {
  width: 40px;
  height: 40px;
  color: white;
  background: #5048e5;
  border-radius: 4px;
}
