.doubleInput {
  border-radius: 4px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cccccc;
  width: 70%;
  height: 50px;
  font-size: 100%;
}

.signInBody {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15%;
}
.footer {
  display: flex;
  position: relative;
  left: 15%;
  width: 70%;
  justify-content: space-between;
}
.labels {
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #6b7280;
}

.blueBtn {
  text-decoration: underline;
  font-weight: bold;
  font-size: large;
  color: rgb(82, 82, 235);
  background-color: transparent;
  border-color: transparent;
}

#signinBtn {
  color: white;
  font-size: x-large;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background: #5048e5;
  width: 70%;
  margin: 2% 0% 2% 0%;
  height: 50px;
}

#showBtn {
  cursor: pointer;
  text-decoration: underline;
  margin: 0%;
  position: relative;
  bottom: 37px;
  left: 402px;
}
#pwd {
  position: relative;
  left: 0px;
}

#signUpText {
  width: 155px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  color: #6b7280;
}
#signup {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

#forget {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  #showBtn {
    left: 183px;
  }
}
