.signUpbody {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15%;
}

#createAccountBtn {
  color: white;
  font-size: x-large;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background: #5048e5;
  width: 70%;
  margin: 2% 0% 2% 0%;
  height: 50px;
}

#pwd {
  position: relative;
  right: 20px;
}

#signInText {
  width: 172px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  color: #6b7280;
}
#signin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.signError {
  position: absolute;
  bottom: 90%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: firebrick;
}
